<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1>Поисковый запрос</h1>

<%= form_tag("searchresults", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>